/* Button */

.Recipe_Button{
position: relative;
width: 158px;
height: 187px;
background-color: white;
}

/* Outline */

.Outline{
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
background: #FFFFFF;
}

/*Bild */

.drink_pic{
position: absolute;
left: 5.06%;
right: 5.18%;
top: 5.35%;
bottom: 18.62%;
width: 100px;
height: 100px;

}


/* Titel på drinken */

.h1{
position: absolute;
left: 3.16%;
right: 4.43%;
top: 85.03%;
bottom: 1.6%;

font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 21px;
text-align: center;
letter-spacing: -0.333333px;

color: #000000;
}


/* Favorit */

.save_button{
position: absolute;
left: 75.95%;
right: 8.86%;
top: 64.17%;
bottom: 22.99%;
}


/* Union (Stroke) 

position: absolute;
left: 8.33%;
right: 8.33%;
top: 12.5%;
bottom: 12.5%;

background: #FFDF81;


// Ellipse 13 

position: absolute;
visibility: hidden;
left: 12.5%;
right: 50%;
top: 16.67%;
bottom: 41.67%;

background: #FBBC05;


// Ellipse 14 

position: absolute;
visibility: hidden;
left: 45.83%;
right: 16.67%;
top: 16.67%;
bottom: 41.67%;

background: #FBBC05;


// Polygon 1 

position: absolute;
visibility: hidden;
left: 87.62%;
right: -62.63%;
top: 83.26%;
bottom: -33.19%;

background: #FBBC05;
transform: rotate(179.87deg);*/
