body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Screen */
.screen {
  box-shadow: 0 0 5px #333333;
  border-radius: 3px;
  position: relative;
  width: 375px;
  height: 812px;
  overflow: hidden;
}

/* Content inside screen */
.content{
  margin-top: 130px;
  margin-bottom: 63px;
  padding: 0 14px;
  height: 619px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: space-between;
}

.content2{ /* recept */
  margin-top: 108px !important;
  margin-bottom: 63px;
  height: 619px;
  overflow-x: hidden;
  overflow-y: auto;
}

.content3{ /* filtrera drinkar */
  margin-top: 130px;
  margin-bottom: 63px;
  height: 619px;
  overflow-x: hidden;
  overflow-y: auto;
}

.content4{ /* säsongens drinkar */
  position: absolute;
  top: 540px;
  width: 375px;
  overflow-x: auto;
}

/*status bar*/
.statusBar {
  position: absolute;
  height: 44px;
  left: 0px;
  right: 0px;
  top: 0px;
  
  background: #F7ACA4;
  z-index: 1;
}

.statusPic1{
  position: absolute;
  width: 56px;
  height: 23px;
  left: 21px;
  top: 5px;
}

.statusPic2{
  position: absolute;
  width: 68px;
  height: 16px;
  right: 14px;
  top: 15px;

}

/*footer*/
.footer {
  position: absolute;
  width: 375px;
  height: 63px;
  left: 0px;
  top: 749px;
  
  background: #FFFFFF;
  border-top: 1px solid #c4c4c48a !important;
  padding-top: 6px;
  padding-left: 22px;
  padding-right: 22px;
}

a {
  color: #b1b1b1 !important;
}

.filter{
  color: black !important;
}

#filter{
  transform: rotate(90deg);
}

.filled {
  color: black !important;
}

.none {
  color: none !important;
}


/* Search */
#searchbtn {

  display: flex;
  height: 52px;
  background: #ffffff;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 44px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.search input {
  width: 100%;
  background-color: #ffffff;
  border:none;
  outline:none;
}

#search{
  position: absolute;
  left: 86.01%;
  width:40px;
  top: 11.54%;
  bottom: 11.54%;
  color: #f27c70;
  border: none;
  background-color: white;
  outline:none;
}

.searchBar{
  font-family: Helvetica;
  outline: none !important;
  width: 310px;
  border: none;
  padding-left: 15px;;
}

#search:active{
  color: #ca685d;
}


.filterButton {
  outline: none !important;
  position: absolute;
  height: 59px;
  width:300px;
  left: 38px;
  top: 364px;
  border: none;

  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), #f27c70;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;

  /*font-family: Roboto;*/
  font-family: Helvetica;
  font-style: normal;
  /*font-weight: 900;*/
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  /*letter-spacing: 0.04em;*/
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #FFFFFF;
}

.filterButton:active{
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), #ca685d;
}


.icons {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  height: 45px;
}

.icons li {
 padding: 10px;
}

.icons li svg{
  object-fit: cover;
  height: 20px;
  width: 20px;
}

/*Home*/
.popular{
  position: absolute;
  width: 375px;
  height: 31px;
  top: 480px;
  
}

.homedrink{
  font-family: helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.333333px;
  color: #afafaf;
  text-transform: uppercase;
}
#homeline{
  position: absolute;
  width: 72px;
  height: 4px;
  left: 152px;
  top: 40px;

  background: rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.poster{
  position: absolute;
  width: 375px;
  height: 394px;
  left: 0px;
  top: 0px;
  z-index: -1;
  
}

.veckansDrink{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

/*header*/
.header{
  position: absolute;
  width: 260px;
  height: 30px;
  left: 65px;
  top: 64px;
  color: #F27C70;

}

.headertext{
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.4px;
  padding-top: 5px;
}

.headerLine{
  position: absolute;
  width: 72px;
  height: 4px;
  left: 152px;
  top: 108px;

  background: rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.back-button{
  position: absolute;
  width: 70px;
  height: 66px;
  left: -58px;
  top: -10px;
  border:none;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  color:#f27c70;
  
}

.back-button:focus{
  outline: none;
}

.back-button:active{
  color: #ca685d;
}

/*Help*/
.questions{
  position: absolute;
  width: 352px;
  height: 422px;
  left: 12px;
  top: 132px;
}

.question{
  width: 352px;
  height: 63px;
  left: 0px;
  top: 0px;
  outline:none;
  border:none;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;

  box-shadow: 0px 1px 0px #CACCC9;
  box-shadow: 0px 1px 0px #CACCC9;
}

.question:focus{
  outline: none;
}

.sideButton{
  position: relative;
  left: 86%;
  top: 20%;
  outline: none !important;
  border:none !important;
}

h3{
  position: relative;
  left: 5.4%;
  right: 45.99%;
  top: -30%;

  font-family: helvetica;
  font-style: normal;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 21px;
  /* identical to box height */

  letter-spacing: -0.333333px;

  color: #000000;
}

/*Answer*/
.ans {
  position: absolute;
  width: 375px;
  height: 705px;
  top: -6%;
  left: -12px;
  display: none;
  
  z-index: 1;

  background: #F7ACA4;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0px -5px 10px rgba(100, 100, 100, 0.75);
}


.crossButton{
  position: absolute;
  left: 84%;
  right: 5.33%;
  top: 3%;
  bottom: 91.54%;
  border:none;
  outline: none;
  background: none;
}

.crossButton:focus{
  outline: none;
}

h4{
  position: absolute;
  left: 10.67%;
  right: 16%;
  top: 5.73%;
  bottom: 86.22%;

  font-family: helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 24px !important;
  line-height: 42px;
  letter-spacing: -0.333333px;

  color: #FFFFFF;
}

.answertext{
  position: absolute;
  left: 10.67%;
  right: 10.67%;
  top: 18%;
  bottom: 12.01%;

  font-family: helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 18px !important;
  line-height: 28px;
  letter-spacing: -0.333333px;

  color: #FFFAFA;
}

/*pop*/

.linkToDrink{
  width: 145px;
  height: 170px;
  background: #FFFFFF;
  box-sizing: border-box;
  float: left;
  margin: 5px 4% 20px;
}

.outline{
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
  background: #FFFFFF;
  width: 145px;
  height: 170px;
  }

.drinkPic{
  position: relative;
  width: 130px;
  height: auto;
  left: 5%;
  right: 5%;
  top: 4%;
  bottom: 19%;
}

.drinkFont{
  position: absolute;
  left: 1%;
  right: 1%;
  top: 85.03%;
  bottom: 0%;
  
  font-family: helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.333333px;
  
  color: #000000;
  }

  .saveButton{
    stroke: #FFDF81;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    height: 20px;
    position: absolute;
    right: 20px;
    bottom: 45px;
  }

/* Recipe */
.recipeImg {
  width: 100%;
}

.recipeBody{
  position: relative;
  top: -70px;
  width: 445px;
  border-top: 20px solid #F7ACA4;
  border-left: 20px solid #F7ACA4;
  border-right: 20px solid #F7ACA4;
  left: -35px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  border-top-right-radius: 220px 70px;
  border-top-left-radius: 220px 70px;
  background-color: white;
  font-family: helvetica;
}

.recipeBody h2 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
  font-weight: bold;
}

.recipeBody p{
  text-align: center;
}

.recipeSaveButton{
  stroke: #FFDF81;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  height: 38px;
  position: relative; /*Relative to content2*/
  left: 300px;
  top: -80px;
  z-index: 1;
}

.recipeBody h3{
  color: rgba(243, 132, 121, 1) !important;
  font-weight: bold !important;
  font-size: 18px !important;
}

/*-------------FILTER----------------*/

.filterCategory{
  background-color: white !important;
  color: black !important;
  width: 100%;
  box-shadow: none !important;
  border: none !important;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
  margin-top: 20px;
  height: 39px;
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  justify-content: space-between !important;
  font-family: helvetica !important;
}

.category{
  top: 2px;
}

.card{
  margin-bottom: 10px;
  border: 0px !important;
  background-clip: none !important;
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  justify-content: space-evenly !important;
}

.card-body {
  padding: 0px !important;
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  justify-content: space-evenly !important;
}

.filterInnerCategory{
  background-color: white !important;
  color: rgba(0, 0, 0, 0.7) !important;
  width: 95%;
  box-shadow: none !important;
  border: none !important;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
  font-size: 0.8em !important;
  height: 43px !important;
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  justify-content: space-between !important;
}

.innercat{
  padding-left: 35px;
}

.downButtonInner{
  color:rgba(0, 0, 0, 0.7)!important;
  outline: none !important;
  border:none !important;
  padding-bottom: 10px;
  transition: all 0.5s ease;
  transform: translate(-50%,-50%) rotate(0deg);
  position: relative;
  top: 10px;
}

.downbutton{
  outline: none !important;
  border:none !important;
  transition: all 0.5s ease;
  transform: translate(-50%,-50%) rotate(0deg);
  position: relative;
  left: 50%;
  top: 10px;
}

.downbutton.active, .downButtonInner.active {
  transform: translate(-50%,-50%) rotate(180deg);
}

.downbuttondiv{
  padding-right: 10px;
}

.filterButt{
  background-color: white !important;
  color: rgba(152, 153, 151, 1) !important;
  margin: 5px;
  height: 35px !important;
  width: 45% !important;
  font-size: 74% !important;
  overflow: hidden;
  padding: 0px !important;
}

.filterButt.btn.btn-secondary{
  border-color: rgba(152, 153, 151, 1) !important;
}

.filterButt.btn.btn-secondary.active{
  background-color: rgba(243, 132, 121, 1) !important;
  background-image: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,25,0)) !important;
  color: white !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-color: white !important;
}

.filterButt:focus{
  box-shadow: none !important;
}

.searchButton{
  /* Sökknapp */
  position: relative;
  width: 343px;
  height: 52px;
  background-color: rgba(243, 132, 121, 1) !important;
  background-image: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,25,0)) !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1)!important;
  border: none !important;
  margin-top: 20px;

  /* KLAR */


  color: #FFFFFF;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.searchButton:active{
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), #ca685d !important;
}

.plsCenter{
  margin-top: 20px;
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
}

#searchRes {
  margin-top: 95px;
  padding: 5%;
  background-color: rgba(255, 255, 255, 0.89);

  display: none;
}

/*making scrollbar invisible*/
::-webkit-scrollbar{
  width: 0% !important;
  background: transparent;
}


/* Result */
.visar {
  width: 100%;
  font-family: helvetica;
  font-style: normal;
  font-size: 14px;
  padding: 0 10px;
}

.visar > span {
  margin: 5px;
  height: 35px !important;
  padding: 6px 8px;
  display:inline-block;

  background-color: rgba(243, 132, 121, 1);
  background-image: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,25,0)) !important;
  color: white !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-color: white !important;
  border-radius: 0.25rem;
  text-transform: uppercase;
}

#showres{
  width: 100%;
  font-family: helvetica;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  font-size: 15px;
  color: #afafaf;
}

#loadscreen{
  animation: cssAnimation 0.3s 2s forwards;
  opacity: 1;
  pointer-events: none;
  display: none;
}

@keyframes cssAnimation {
  to {
    opacity: 0;
  }
}

#load{
  position: absolute; 
  animation: spin 3s infinite linear; 
  -webkit-animation: spin 3s infinite linear;
  left:104px;
  top: 314px;
  pointer-events: none;
}

@keyframes spin{
  0%{-webkit-transform: rotate(0deg);}
  100%{-webkit-transform: rotate(360deg);}
}

@-webkit-keyframes spin{
  0%{-webkit-transform: rotate(0deg);}
  100%{-webkit-transform: rotate(360deg);}
}

#phone{
  z-index: 1;
  position: absolute;
  pointer-events: none;
  width: 446px;
}